<form action="/login" method="POST">
	<label for="username" type="text">Username</label>
	<input type="text" name="username" placeholder="Userame" required>
	<label for="password" type="text">Password</label>
	<input type="password" name="password" placeholder="Password">
	<input type="submit" value="Log In">  	
</form>