<div id="hero-image">
	<h1>Fablr</h1>
	<p>A collaborative storytelling application <br> for bloggers, writers, and creatives.</p>
	
</div>
<!-- <form action="/login" method="POST" id="loginForm">
	<label for="username" type="text">Username</label>
	<input type="text" name="username" placeholder="Userame" required>
	<label for="password" type="text">Password</label>
	<input type="password" name="password" placeholder="Password">
	<input type="submit" value="Log In">  	
</form> -->