<!DOCTYPE html>
<html>
<head>
	<title>Fablr</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" type="text/css" href="home.css">
	<link rel="stylesheet" type="text/css" href="member_page.css">
	<link rel="stylesheet" type="text/css" href="sign_up.css">
</head>
<body>
	<header>
		<nav>
			<% if current_user %>
			
			<a href="/logout">Logout</a>
			<a href="/delete_account">Delete Account</a>
			<% else %>
			<a href="/">Login</a>
			<a href="/sign_up">Sign Up</a>
			<form action="/login" method="POST" id="loginForm">
				<label for="username" type="text">Username</label>
				<input type="text" name="username" placeholder="Userame" required>
				<label for="password" type="text">Password</label>
				<input type="password" name="password" placeholder="Password">
				<input type="submit" value="Log In">  	
			</form>
			<% end %>
		</nav>
	</header>
<!-- 	<div class="notice"><%= flash[:notice] if flash[:notice] %></div>
	<div class="alert"><%= flash[:alert]%></div> -->
	<%= yield %>
</body>
</html>