
<h1> Fablrs' Circle </h1>

<div class="profile-page-list">
	<ol>
	<% @users.each do |user|%>
	<li><a href="/user_profile/<%= user.id %>"><%= user.username %></a> <a href="/follow/<%= user.id %>">Follow</a> </li>
	<% end %>
	</ol>
</div>


