
	<h1>Fablr</h1>	

<form action="/sign_up" method="POST" id="sign_up">
	<!-- Name --> 
	<label for="username">Username</label>
	<input type="text" name="[user]username" placeholder="name" required>
	<!-- Password -->
	<label for="password"></label>
	<input type="password" name="[user]password" placeholder="password" required>
	<!-- Button --> 
	<input type="submit" name="submit" value="Sign Up">
</form>

