<form action="/subpost" method="POST">
	<label for="title" type="text">Title</label>
	<input type="text" name="[post]title">
	<label for="body" type="text">Body</label>
	<textarea type="text" name="[post]body"></textarea>
	<input type="submit" value="Post"> 
</form>